---
title: Blog
subtitle: Here's some writin' and stuff.
description: Bobby Craig is a demi-god.
featured_image: /images/bobby-gallery/6.jpg
---

<section class="blog">

	<div class="content-wrap blog-wrap">

		{% for post in site.posts %}

		<article class="blog-post">

			<a class="blog-post__link" href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ post.url }}{% endif %}">

				<div class="blog-post__image">
					<img src="{{ post.featured_image  }}" alt="{{ post.title }}">
				</div>

				<div class="blog-post__content">
					<div class="blog-post__info">
						<h2 class="blog-post__title">{{ post.title }}</h2>
						<p class="blog-post__subtitle">{{ post.date | date: "%-d %B %Y" }}</p>
					</div>
				</div>

			</a>

		</article>

		{% endfor %}

	</div>

</section>