---
title: Art
layout: page
show_in_nav: true
---

<div class="shrink-width">

  <div class="top-container"></div>

  <div class="text-center">
      <p class="white-text">This is Art.</p>
      <a href="https://en.wikipedia.org/wiki/Art_Garfunkel">
          <img src="http://www.gstatic.com/tv/thumb/persons/73289/73289_v9_ba.jpg" height="300px" title="Art Garfunkel" alt="Art Garfunkel">
      </a>
  </div>

  <footer>
    <div class="social-icons">
      {% if site.github %}<a target="_blank" href="//github.com/{{ site.github }}"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>{% endif %}
      {% if site.instagram %}<a target="_blank" href="//instagram.com/{{ site.instagram }}"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>{% endif %}
      {% if site.medium %}<a target="_blank" href="//medium.com/@{{ site.medium }}"><i class="fa fa-lg fa-medium" aria-hidden="true"></i></a>{% endif %}
      {% if site.twitter %}<a target="_blank" href="//twitter.com/{{ site.twitter }}"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>{% endif %}
      {% if site.facebook %}<a target="_blank" href="//facebook.com/{{ site.facebook }}"><i class="fa fa-lg fa-facebook" aria-hidden="true"></i></a>{% endif %}
      {% if site.codepen %}<a target="_blank" href="//codepen.io/{{ site.codepen }}"><i class="fa fa-lg fa-codepen" aria-hidden="true"></i></a>{% endif %}
      {% if site.linkedin %}<a target="_blank" href="//linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a>{% endif %}
    </div>
    <p class="copyright">&copy; {{ site.title }}</p>
  </footer>
</div>
