---
layout: default

paginate: true
paginate:
  tags: ['blog']
  per_page: 4
---

<h2>Welcome. Navigate to the different sections of the site.</h2>
<hr>

{% for post in paginator.posts %}
  {% if post.tags contains "textblog" %}
    {% if post.img %}
      <div class="row">
        <div class="col-md-3">
          <div class="text-center">
            <a href="{{ post.url }}">
              <img class="img-thumbnail" style="max-height: 200px;" src="{{ post.img }}"/>
            </a>
          </div>
        </div>
        <div class="col-md-9">
    {% else %}
      <div class="row">
        <div class="col-md-12">
    {% endif %}
          <a href="{{ post.url }}">
            <h1>{{ post.title }}</h1>
          </a>
          <p class="post-date"><em>{{ post.date | date: '%B %d, %Y' }}</em></p>
          <p>
            {{ post.content | strip_html | truncatewords: 50 }}
          </p>
        </div>
      </div>
      <hr>
  {% endif %}

  {% if post.tags contains "photoblog" %}
    <div class="row">
      <div class="col-md-3">
        <a href="{{ post.url }}">
          <h1>{{ post.title }}</h1>
        </a>
        <p class="post-date"><em>{{ post.date | date: '%B %d, %Y' }}</em></p>
        <p>
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>
      </div>
      <div class="col-md-9">
        <div class="text-center">
          <a href="{{ post.url }}">
            <img class="img-thumbnail" style="width: 100%;" src="{{ post.img }}"/>
          </a>
        </div>
      </div>
    </div>
    <hr>
  {% endif %}

{% endfor %}
