---
title: Projects
layout: page
show_in_nav: true
---

<div class="shrink-width">

  <div class="top-container"></div>

  <p class="white-text text-center">This list is <strong>by no means</strong> exhaustive. Please check my GitHub for a more complete look at <em>technical</em> projects.</p>

  <div class="projects-container">
    {% for project in site.projects %}
    <style>
      .projects-container [name={{ project.slug }}].project-card .project-screenshot {
        background: url("/img/{{ project.img }}");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: -200px 0px 100px -100px #fff inset;
      }
    </style>
    <div class="project-card" name="{{ project.slug }}">
      <div class="project-screenshot" ref="screenshot"></div>
      <div class="project-content">
        <h3>{{ project.project-name }}</h3>
        <p>{{ project.content }}</p>
        <div class="project-links">
          {% for item in project.links %}
            <a target="_blank" href="{{ item['link'][1] }}" class="project-link">{{ item['link'][0] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <footer>
    <div class="social-icons">
      {% if site.github %}<a target="_blank" href="//github.com/{{ site.github }}"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>{% endif %}
      {% if site.instagram %}<a target="_blank" href="//instagram.com/{{ site.instagram }}"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>{% endif %}
      {% if site.medium %}<a target="_blank" href="//medium.com/@{{ site.medium }}"><i class="fa fa-lg fa-medium" aria-hidden="true"></i></a>{% endif %}
      {% if site.twitter %}<a target="_blank" href="//twitter.com/{{ site.twitter }}"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>{% endif %}
      {% if site.facebook %}<a target="_blank" href="//facebook.com/{{ site.facebook }}"><i class="fa fa-lg fa-facebook" aria-hidden="true"></i></a>{% endif %}
      {% if site.codepen %}<a target="_blank" href="//codepen.io/{{ site.codepen }}"><i class="fa fa-lg fa-codepen" aria-hidden="true"></i></a>{% endif %}
      {% if site.linkedin %}<a target="_blank" href="//linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a>{% endif %}
    </div>
    <p class="copyright">&copy; {{ site.title }}</p>
  </footer>
</div>
