---
title: Writing
layout: page
show_in_nav: true
---

<div class="shrink-width">

  <div class="top-container"></div>

  <div class="text-center">
      <p class="white-text">This is writing.</p>
      <a href="https://lh3.googleusercontent.com/nr0_sqzGkMfOqufsMf3fqFLRYIMVFKMkzobvtDxOmmsVmLGyLO7yO-3fTsfU0cj-J0C-KGq4AOj72QRUPC0HTf-Bq1eklpovPrl2tM_6kRosOk2zaq9Ta6NLOXIWwpeEbXUiyg3qxMyY5RTWHp83BgXCLiraZ8D95_h75yTQd3FwBZNRBKLXB9dviARF8PB26mQfietq8d3-N8U_0ugWUWDjKH_lQz1dgLPQsxkDe-wfdW2wTR_spb6mfxIZCZ8By9sBpiBvvQ2y8XVct0UaURDcph7uriYiCXnuy5Kd9VbHCIYgdIbTcyuu7Xh5c3W5K_WG82rdHP-Xt1VjjxDE3Z0doRxjAJZtGGF8mlsXQBdm-i6vH-lvRJga52qVgnYgcLmxD3tA9oC8s55PlW-_6DhLz1O_fe3qsARGIJ8_EyRSOe-vqEPpLd7G05o-SPz5zn4gavUjvKPYAZogkGN_-uJGjjxirGDBvDCEAMhHJZ4lU6pUyQtIF-ChJ-ArdAra_O_ype0PgyCCLUYD7eLkWPLGZWrBKm7LvYr8hp-5hHvGthrcj7lDs_hDVw7miovPh10FrUMufylGNo3as7aUyjqRzFoYiLAc_8r8yb47bySjq-9nGub9XBAmVJQXMVGB=w1206-h1606-no">
          <img src="https://lh3.googleusercontent.com/nr0_sqzGkMfOqufsMf3fqFLRYIMVFKMkzobvtDxOmmsVmLGyLO7yO-3fTsfU0cj-J0C-KGq4AOj72QRUPC0HTf-Bq1eklpovPrl2tM_6kRosOk2zaq9Ta6NLOXIWwpeEbXUiyg3qxMyY5RTWHp83BgXCLiraZ8D95_h75yTQd3FwBZNRBKLXB9dviARF8PB26mQfietq8d3-N8U_0ugWUWDjKH_lQz1dgLPQsxkDe-wfdW2wTR_spb6mfxIZCZ8By9sBpiBvvQ2y8XVct0UaURDcph7uriYiCXnuy5Kd9VbHCIYgdIbTcyuu7Xh5c3W5K_WG82rdHP-Xt1VjjxDE3Z0doRxjAJZtGGF8mlsXQBdm-i6vH-lvRJga52qVgnYgcLmxD3tA9oC8s55PlW-_6DhLz1O_fe3qsARGIJ8_EyRSOe-vqEPpLd7G05o-SPz5zn4gavUjvKPYAZogkGN_-uJGjjxirGDBvDCEAMhHJZ4lU6pUyQtIF-ChJ-ArdAra_O_ype0PgyCCLUYD7eLkWPLGZWrBKm7LvYr8hp-5hHvGthrcj7lDs_hDVw7miovPh10FrUMufylGNo3as7aUyjqRzFoYiLAc_8r8yb47bySjq-9nGub9XBAmVJQXMVGB=w1206-h1606-no" height="500px" title="Writing" alt="Photo of writing">
      </a>
  </div>

  <footer>
    <div class="social-icons">
      {% if site.github %}<a target="_blank" href="//github.com/{{ site.github }}"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>{% endif %}
      {% if site.instagram %}<a target="_blank" href="//instagram.com/{{ site.instagram }}"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>{% endif %}
      {% if site.medium %}<a target="_blank" href="//medium.com/@{{ site.medium }}"><i class="fa fa-lg fa-medium" aria-hidden="true"></i></a>{% endif %}
      {% if site.twitter %}<a target="_blank" href="//twitter.com/{{ site.twitter }}"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>{% endif %}
      {% if site.facebook %}<a target="_blank" href="//facebook.com/{{ site.facebook }}"><i class="fa fa-lg fa-facebook" aria-hidden="true"></i></a>{% endif %}
      {% if site.codepen %}<a target="_blank" href="//codepen.io/{{ site.codepen }}"><i class="fa fa-lg fa-codepen" aria-hidden="true"></i></a>{% endif %}
      {% if site.linkedin %}<a target="_blank" href="//linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a>{% endif %}
    </div>
    <p class="copyright">&copy; {{ site.title }}</p>
  </footer>
</div>
