<title>{{ site.title }}</title>

<meta charset="UTF-8">
<meta name="description" content="Bobby Craig is a Full-Stack Software Developer from Ohio. A traditional computer scientist with an eye for design, Bobby is excited to grapple with new technologies and challenge the status quo when it comes to development. He believes in the liberal arts, the connectedness of all aspects of business, and the importance of relationships.">
<meta name="keywords" content="Bobby Craig, Denison University, Canton, MailChimp, Tenable, Perry High School, Full-Stack, Developer, Software, Engineer">
<meta name="author" content="Bobby Craig">

<link rel="shortcut icon" href="favicon.png">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
