.projects-container {
  display: flex;
  flex-wrap: wrap;

  .project-card {
    position: relative;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    width: 47%;
    margin: 1em 1.5%;

    @include mobile {
        width: 100%;
        margin: 1em 1.5em;
    }

    .project-screenshot {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;

      @include mobile {
        display: none;
      }
    }

    .project-content {
      right: 0;
      padding: 40px 60px 40px 40%;
      width: 55%;
      z-index: 2;

      @include mobile {
        box-sizing: border-box;
        padding: 40px;
        width: 100%;
      }

      h3 {
        font-size: 1.8em;
        line-height: 38px;
        color: $secondary;
        margin-top: 0;
        margin-bottom: 10px;
      }

      .project-links {
        display: flex;
        justify-content: flex-start;
        // margin-top: 20px;

        .project-link {
          margin: 8px 16px 0 0;
          white-space: nowrap;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
          border-radius: 4px;
          text-transform: uppercase;
          letter-spacing: .025em;
          text-decoration: none;
          transition: all .15s ease;
          color: #fff;
          background: $primary;
          font-size: 0.8em;
          font-weight: 600;

          &:hover {
            background: $secondary;
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50,50,93,.1),
                        0 3px 6px rgba(0,0,0,.08);
          }
        }
      }

      p {
        font-size: 0.9em;
        margin: 10px 0;
        line-height: 24px;
        color: $secondary;

        a {
          text-decoration: none;
          color: $primary;
          position: relative;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .project-skills {
        display: flex;
        flex-wrap: wrap;

        .project-skill {
          border-radius: 4px;
          border: solid 2px $primary;
          padding: 8px;
          margin-right: 10px;
          margin-bottom: 10px;
          font-size: 0.85em;
          color: $secondary;
        }
      }
    }
  }
}
