---
layout: default
title: Bobby's Blog
description: Some writin' and stuff.
featured_image: /images/social.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>Here's some writin' and stuff.</h1>
		<p>Calm down. I don't do this professionally.</p>

	</div>

</section>

<section class="blog">

	<div class="content-wrap blog-wrap">

		{% for post in paginator.posts %}

		<article class="blog-post">

			<a class="blog-post__link" href="{% if post.redirect %}{{ post.redirect }}{% else %}{{ post.url }}{% endif %}">

				<div class="blog-post__image">
					<img src="{{ post.featured_image  }}" alt="{{ post.title }}">
				</div>

				<div class="blog-post__content">
					<div class="blog-post__info">
						<h2 class="blog-post__title">{{ post.title }}</h2>
						<p class="blog-post__subtitle">{{ post.date | date: "%-d %B %Y" }}</p>
					</div>
				</div>

			</a>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}