---
layout: page
title: Blog
author: Bobby L. Craig
---

<p>Here are some random snippets or thoughts from Bobby's brain. This could be about anything from his hatred of mushrooms (it's deeply seeded in his heart) to aviation (he loves that) to a weird computer science thingy he just learned. All views expressed in blog are mine...and sarcasm will <em>not</em> be denoted...so read between the lines!</p>
<hr>

{% for post in site.tags.textblog %}
  {% if post.img %}
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <a href="{{ post.url }}">
            <img class="img-thumbnail" style="max-height: 200px;" src="{{ post.img }}"/>
          </a>
        </div>
      </div>
      <div class="col-md-9">
  {% else %}
    <div class="row">
      <div class="col-md-12">
  {% endif %}
        <a href="{{ post.url | prepend: site.baseurl }}"><h1>{{ post.title }}</h1></a>
        <p class="post-date"><em>{{ post.date | date: '%B %d, %Y' }}</em></p>
        <p>
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>
      </div>
    </div>
    <hr>
{% endfor %}
