---
layout: page
title: Projects
author: Bobby L. Craig
---

<p>Below you will find a list of personal (or internship-related) projects that I've worked on. Not all have been completed. Not all are up to my current standard of development. However, it's a log of my curiousity, interest in different technologies, and improvement in a quickly changing, exciting field.</p>
<hr>

{% assign sortedposts = (site.tags.projects | sort: 'order') %}
{% for post in sortedposts %}
  {% assign loopindex = forloop.index | minus: 1 | modulo: 3 %}
  {% if loopindex == 0 %}
    <div class="row">
  {% endif %}
    <div class="col-md-4">
      <h3>{{ post.name }}</h3>
      <a href="{{ post.url }}">
        <div class="img-overlay">
          <img src="{{ post.photo-link }}">
          <div class="overlay-text"><h2>{{ post.photo-text }}</h2></div>
        </div>
      </a>
      <p class="img-overlay-date"><em><br>{{ post.project-date }}</em></p>
      <p>{{ post.short-intro | strip_html | truncatewords: 50 }}</p>
    </div>
  {% if loopindex == 2 %}
    </div>
    <hr>
  {% endif %}
  {% if forloop.last == true and loopindex != 2 %}
    </div>
    <hr>
  {% endif %}
{% endfor %}
