---
layout: default
---

<div class="home">
  <div class="post-back">
    <a class="black-link" href="{{ site.url | relative_url }}"> ← {{ site.moving.back_to }} </a>
  </div>

  <head>
      <title>{{ site.title }}</title>
  </head>
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
    <p class="home-sub-heading">{{- site.description | escape -}}</p>
  </div>

  {{ content }}

  {% assign visible_posts = site.posts %}
  {%- if visible_posts.size > 0 -%}
  <ul class="post-list">
    {% for post in visible_posts %}
      <li>
        {%- assign date_format = "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ post.date | date: date_format }}
        </span>
        <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </ul>
  {%- else -%}
  NO POSTS HERE
  {%- endif -%}
</div>
