---
layout: main
---

<div class="intro">
    <div class="intro-container">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
    </div>
    <span class="date">{{ page.date | date: "%-d %B %Y" }}</span>
</div>

<div class="content post">
    <ul class="home-button post-navigation">
        <li><a href="/">Home</a></li>
        {% for link in page.links %}
        <li><a href="{{ link.link[1] }}">{{ link.link[0] }}</a></li>
        {% endfor %}
    </ul>

    <article>
        {{content}}
    </article>

    {% if page.previous or page.next %}
    <div class="hr">&nbsp;</div>
    <div class="post-nav">
        {% if page.next %}&#8592;&nbsp;<a class="left" href="{{ page.next.url }}">{{ page.next.title }}</a>{% endif %}
        {% if page.previous %}<a class="right" href="{{ page.previous.url }}">{{ page.previous.title }}</a>&nbsp;&#8594;{% endif %}
        {% endif %}
    </div>

</div
